.box {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  text-align: center;
  max-width: 300px;
  margin: 0 ;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  color: #374151;
  margin-bottom: 1rem;
}

.value {
  font-size: 1.5rem;
  color: #000000;
  font-variant-numeric: tabular-nums;
  font-weight: 500;
  /*margin-bottom: 0.25rem;*/
}

.hour {
  font-size: 1.5rem;
  color: #000000;
  font-weight: 800;
 /* margin-bottom: 0.5rem;*/
}

.diff {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.25rem;
}

.green {
  color: #10b981;
}

.red {
  color: #ef4444;
}
