/* src/styles/TestDraggableH.module.css */
.page {
    padding: 1rem;
  }
  
  .sharedWrapper {
    position: relative;
    max-height: 960px; /* 👈 Igual que altura total */
    overflow-y: auto;
    outline: 2px solid green;
  }
  
  .scrollZone {
    position: relative;
    height: 960px; /* 👈 Esto es esencial para que DraggableBlockH tenga la misma referencia */
  }
  